<!DOCTYPE html>
<html>
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruits_and_veggies_test.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="App">
        <div class="container" style="text-align: center" ng-controller="appCtrl">
            <h1>Fruit and Veggies</h1>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Fruits</h3>
                    <div class="well" ng-repeat="froot in froots">
                      <h4 style="text-align: center">{{froot}}</h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>Pool</h3>
                    <div class="well" ng-repeat="food in foods track by $index">
                      <button class="btn btn-primary glyphicon glyphicon-chevron-left" style="text-align: center" ng-click="click('froots', 'foods', $index)"> </button>
                      <h4 style="text-align: center">{{food}}</h4>
                      <button class="btn btn-primary glyphicon glyphicon-chevron-right" style="text-align: center" ng-click="click('vegs', 'foods', $index)"></button>
                      </div>
                </div>
                <div class="col-sm-4">
                    <h3>Vegetables</h3>
                    <div class="well" ng-repeat="veg in vegs">
                      <h4 style="text-align: center">{{veg}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
